/* add css module styles here (optional) */

.svgContainer {
  background-color: #294678;
}

/* Clean up the below assigning varaibles to button properties that are the same*/
.saveButton {
	border-color: black;
  border-width: 1px;
  background-color: rgb(74, 176, 235);
  margin: 2%;
  border-radius: 3px;
  font-family: monospace;
  position: absolute;
  font-size: x-large;
} 

.editTooltipButton, .addAttributeTooltipButton, .saveTooltipButton, .cancelTooltipButton, .deleteAttributeTooltipButton {
  position: static;
	border-color: black;
  border-width: 1px;
  background-color: rgb(74, 176, 235);
  margin: 2%;
  border-radius: 3px;
  font-family: monospace;
  font-size: x-large;
  white-space: nowrap;
  text-align: center;

}


h1 {
  text-align: center;
}

.test {
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  font-size: 5em;
  text-align: center;
}

text {
  fill: white;
  font-weight: bold;
  text-anchor: middle;
}

rect:target {
  fill: white;
}

/* .tooltip {
  background: #c1daf9;
  position: absolute;
  border: solid;
  border-width: 1px;
  border-radius: 2px;
  right: 50px;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 1;
  margin-top: 3%;
}

.tooltip > h1 {
  margin-top: 1px
}

.attrText {
  float: right;

}

.attrInput {
  float: right;
  border-radius: 3px;
  margin-left: 10px;
  border: 0;
  box-shadow: 0 0 15px 4px rgb(255 255 255 / 6%);
  font-family: monospace;
} */
